.additional-products {
	color: #000000;
}

.additional-products__wrapper {
	display: grid;

	@media #{$mobile-only} {
		row-gap: 54px;
	}

	@media #{$tablet-only} {
		row-gap: 69px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 896px 1fr;
		column-gap: 79px;
	}
}

.additional-products__title {
	font-size: 24px;
	line-height: 24px;
	font-family: var(--accent-font);
	font-weight: 400;
}

.additional-products__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: auto;
	row-gap: 31px;

	@media #{$not-mobile} {
		row-gap: 54px;
	}
}

.additional-products__item::marker {
	color: transparent;
}

.additional-products__item {
	display: grid;

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.additional-products__link {
	font-family: var(--accent-font);
	color: #222222;
	text-decoration: none;
}

.additional-products__name {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 400;
}

.additional-products__button {
	display: block;
	text-align: center;
	color: #ffffff;
	background-color: #68b738;
	font-family: var(--accent-font);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;

	@media #{$tablet-only} {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
