.additional-products__wrapper {
	display: grid;

	@media #{$mobile-only} {
		row-gap: 54px;
	}

	@media #{$tablet-only} {
		row-gap: 69px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 896px 1fr;
		column-gap: 79px;
	}
}
