.address {
	background-color: #ffffff;
}

.address__cooperation {
	color: #111111;
	font-size: 16px;
	line-height: 20px;
	font-family: var(--accent-font);
	font-weight: 400;
}

.address__text {
	color: #444444;
	font-size: 14px;
	line-height: 20px;
	font-family: var(--main-font);
}
