.before-after {
	color: #000000;
	position: relative;

	@media #{$mobile-only} {
		background-color: #eaeaea;
		padding-top: 25px;
		padding-bottom: 40px;
	}
}

.before-after::before {
	@media #{$tablet-only} {
		content: "";
		position: absolute;
		background-color: #eaeaea;
		width: 100%;
		height: 462px;
		z-index: -1;
		/*top: 516px;*/
	}
}

.before-after__title {
	margin-top: 0;
	padding-bottom: 4px;
}

.before-after__description {
	font-size: 14px;
	line-height: 18px;
	color: #444444;
	font-family: var(--main-font);
}

.before-after__example-list {
	display: grid;
	text-align: center;
	font-family: var(--accent-font);

	@media #{$mobile-only} {
		grid-template-columns: 1fr 1fr;
	}

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr;
	}
}

.before-after__example-item--frame {
	display: grid;
	text-transform: lowercase;
}

.before-after__example-value--frame {
	font-size: 24px;
	line-height: 24px;
	border-radius: 3px;
	border: #cdcdcd solid 1px;
}

.before-after__example-name--frame {
	font-size: 12px;
	line-height: 12px;
	font-family: var(--main-font);
	order: 1;
}

.before-after__example-item {
	text-transform: uppercase;
}
