.before-after {
	color: #000000;

	@media #{$mobile-only} {
		background-color: #eaeaea;
	}
}

.before-after__title {
	font-size: 36px;
	line-height: 40px;
	font-family: var(--accent-font);
	font-weight: 400;
}

.before-after__description {
	font-size: 14px;
	line-height: 18px;
	color: #444444;
	font-family: var(--main-font);
}
