.button {
	display: block;
	text-align: center;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	background-color: #68b738;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
}
