.characteristics {
	align-self: center;
}

.characteristics__list {
	color: #444444;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		font-size: 14px;
		line-height: 14px;
		margin: 0;
		padding-bottom: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media #{$tablet-only} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 224px 61px;
		gap: 20px;
	}
}


.characteristics__price {
	margin-inline-start: 0;
}
