
.characteristics__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 14px;
	line-height: 14px;
	color: #444444;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		margin: 0;
		padding-bottom: 15px;
	}
}

.characteristics__price {
	margin-left: auto;
}
