.comments {
	display: flex;
	flex-direction: column;

	@media #{$mobile-only} {
		margin-bottom: 23px;
	}

	@media #{$tablet-only} {
		margin-bottom: 65px;
	}

	@media #{$desktop-only} {
		margin-bottom: 67px;
	}
}

.comments__label {
	@media #{$mobile-only} {
		padding-bottom: 38px;
	}

	@media #{$not-mobile} {
		padding-bottom: 76px;
	}
}

.comments__text {
	border: 1px solid #e7e7e7;
	text-transform: uppercase;
	color: #444444;
	font-family: var(--accent-font);

	@media #{$mobile-only} {
		min-width: 280px;
		min-height: 150px;
		font-size: 16px;
		line-height: 18px;
		padding-top: 9px;
		padding-left: 15px;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 19px;
		padding-left: 10px;
	}

	@media #{$tablet-only} {
		min-width: 631px;
		min-height: 174px;
	}

	@media #{$desktop-only} {
		min-width: 1220px;
		min-height: 174px;
	}
}
