.contacts {
	display: flex;

	@media #{$not-desktop} {
		flex-direction: column;
	}
}

.contacts__title {
	padding-bottom: 11px;
	position: relative;

	@media #{$not-mobile} {
		padding-bottom: 40px;
	}
}

.contacts__title::before {
	@media #{$mobile-only} {
		content: "";
		position: absolute;
		background-color: #d9d9d9;
		min-width: 320px;
		height: 1px;
	}
}

.contacts__label {
	color: #444444;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.contacts__input {
	@media #{$mobile-only} {
		width: 220px;
	}

	@media #{$tablet-only} {
		width: 548px;
	}

	@media #{$desktop-only} {
		width: 486px;
	}
}
