.contacts {
	display: flex;

	@media #{$tablet-only} {
		margin-bottom: 65px;
	}

	@media #{$not-desktop} {
		flex-direction: column;
	}
}

.contacts__title {
	@media #{$mobile-only} {
		padding-bottom: 35px;
		position: relative;
	}

	@media #{$tablet-only} {
		padding-bottom: 76px;
	}

	@media #{$desktop-only} {
		margin-top: 69px;
		padding-bottom: 76px;
	}
}

.contacts__wrapper {
	display: grid;

	@media #{$mobile-only} {
		margin-bottom: 24px;
		row-gap: 14px;
	}

	@media #{$tablet-only} {
		margin-bottom: 65px;
		row-gap: 20px;
	}

	@media #{$desktop-only} {
		display: flex;
		margin-bottom: 67px;
		gap: 78px;
	}
}

.contacts__label-wrapper {
	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 68px 1fr;
		column-gap: 10px;
	}

	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: 85px 1fr;
		column-gap: 20px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}
}

.contacts__label {
	color: #444444;
	text-transform: uppercase;
	align-self: center;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 18px;
	}

	@media #{$tablet-only} {
		font-size: 20px;
		line-height: 29px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 29px;
	}
}

.contacts__input {
	color: #444444;
	text-transform: uppercase;
	border: 1px solid #e7e7e7;
	font-family: var(--accent-font);
	outline: none;
	box-sizing: border-box;
	resize: none;

	&:hover {
		border: 1px solid #cdcdcd;
	}

	&:focus {
		border: 2px solid #444444;
	}

	&:invalid {
		border: 2px solid #ff8282;
	}

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 18px;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 15px;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 20px;
	}
}

.contacts__input--email {
	@media #{$mobile-only} {
		background: url("../../icons/stack.svg#mail") no-repeat center right 16px / 20px 20px;
	}

	@media #{$not-mobile} {
		background: url("../../icons/stack.svg#mail") no-repeat center right 19px / 20px 20px;
	}
}

.contacts__input--phone {
	@media #{$mobile-only} {
		background: url("../../icons/stack.svg#phone") no-repeat center right 16px / 20px 20px;
	}

	@media #{$not-mobile} {
		background: url("../../icons/stack.svg#phone") no-repeat center right 19px / 20px 20px;
	}
}
