.contacts {
	@media #{$tablet-only} {
		margin-bottom: 65px;
	}

	@media #{$not-desktop} {
		flex-direction: column;
	}
}

.contacts__title {
	font-size: 24px;
	line-height: 26px;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
	}
}

.contacts__wrapper {
	display: grid;
	row-gap: 13px;
	margin-block: 34px 24px;

	@media #{$not-mobile} {
		padding-top: 40px;
		row-gap: 20px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 67px;
		column-gap: 78px;
	}
}

.contacts__label-wrapper {
	position: relative;
	display: flex;
	gap: 10px;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.contacts__label {
	color: #444444;
	text-transform: uppercase;
	align-self: center;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 18px;
	}

	@media #{$tablet-only} {
		font-size: 20px;
		line-height: 29px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 29px;
	}
}

.contacts__input {
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
	padding: 10px 15px;
	width: 50%;
	flex-grow: 1;
	font: inherit;
	color: #444444;
	text-transform: uppercase;
	outline-offset: -2px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 20px;
	}

	&:hover {
		border: 1px solid #cdcdcd;
	}

	&:focus-visible {
		outline: 2px solid #444444;
	}

	&--error {
		outline: 2px solid #ff8282;
	}

	&--email,
	&--phone {
		padding-inline-end: 50px;
	}
}

.contacts__icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: #000000;
	mask: var(--input-icon) no-repeat center / cover;

	@media #{$desktop-only} {
		right: 18px;
	}

	.contacts__input--email + & {
		--input-icon: url("../../icons/stack.svg#mail");
	}

	.contacts__input--phone + & {
		--input-icon: url("../../icons/stack.svg#phone");
	}

	.contacts__input--error + & {
		background: #ff8282;
	}

	.contacts__input:focus-visible + & {
		background: var(--accent-color);
	}
}
