.form__group-information {
	display: flex;
	flex-direction: column;
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;

	@media #{$desktop-only} {
		display: grid;
	}
}

.form__group-contacts {
	padding: 0;
	border: none;
}

.form__group-additional-goods {
	padding: 0;
	border: none;
}
