.form {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	@media #{$not-mobile} {
		padding-block-start: 34px;
		font-size: 20px;
		line-height: 30px;
	}
}

.form__group-information {
	padding: 0;
	border: none;
}

.form__group-contacts {
	padding: 0;
	border: none;
}

.form__group-additional-goods {
	padding: 0;
	border: none;
}

.form__button-wrapper {
	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);
	margin-bottom: 32px;
	gap: 21px;

	@media #{$not-mobile} {
		--column-count: 2;
		gap: 32px 62px;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 72px;
	}

	@media #{$desktop-only} {
		column-gap: 80px;
		margin-bottom: 82px;
	}
}

.form__button {
	display: block;
	padding: 10px 20px;
	border: none;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #68b738;
	outline-offset: -1px;

	&:hover {
		background: #5eaa2f;
	}

	&:active {
		color: rgba(255 255 255 / 0.3);
	}

	&:disabled {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 11px 22px;
	}
}

.form__required-fields {
	font-family: var(--main-font);
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	@media #{$not-mobile} {
		align-self: center;
		font-size: 16px;
		line-height: 16px;
		text-align: start;
	}
}
