.form__group-information {
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
}

.form__group-contacts {
	padding: 0;
	border: none;
}

.form__group-additional-goods {
	padding: 0;
	border: none;
}

.form__button-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;

	@media #{$tablet-only} {
		flex-direction: row;
		margin-bottom: 72px;
		justify-content: center;
	}

	@media #{$desktop-only} {
		flex-direction: row;
		margin-bottom: 82px;
	}
}

.form__button {
	display: block;
	text-align: center;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	background-color: #68b738;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	padding: 7px 44px 7px 44px;


	@media #{$tablet-only} {
		font-size: 20px;
		padding: 13px 45px 13px 45px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		padding: 13px 188px 13px 188px;
	}
}

.form__required-fields {
	text-align: center;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		padding-top: 21px;
		font-size: 14px;
		line-height: 16px;
	}

	@media #{$tablet-only} {
		padding-left: 64px;
		font-size: 16px;
		line-height: 16px;
		align-self: center;
	}

	@media #{$desktop-only} {
		padding-left: 84px;
		font-size: 16px;
		line-height: 16px;
		align-self: center;
	}
}
