.gifts {
	color: #ffffff;

	@include bg-image("giftcat");

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 302px;
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat var(--cat-position, center) / contain,;
		z-index: -1;
	}
}
