.goods-characteristics {
	@media #{$mobile-only} {
		grid-column: 2/3;
	}

	@media #{$desktop-only} {
		padding-block: 6px;
	}
}

.goods-characteristics__list {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	color: #444444;
	font-size: 12px;
	line-height: 16px;
	font-family: var(--main-font);

	@media #{$not-mobile} {
		row-gap: 6px;
	}
}

.goods-characteristics__name {
	position: relative;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 16px;
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 9px;
	}

	@media #{$desktop-only} {
		// padding-bottom: 9px;
	}
}

.goods-characteristics__value {
	text-align: right;
	margin-inline-start: 0;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 16px;
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 9px;
	}

	@media #{$desktop-only} {
		// padding-bottom: 9px;
	}
}
