.information__wrapper {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 80px;
	}
}

.information__form-wrapper {
	@media #{$mobile-only} {
		display: grid;
		row-gap: 14px;
	}

	@media #{$tablet-only} {
		display: grid;
		row-gap: 20px;
		margin-bottom: 72px;
	}

	@media #{$desktop-only} {
		display: grid;
		row-gap: 20px;
	}
}

.information__label {
	color: #444444;
}

.information__program-label {
	color: #222222;

	@media #{$mobile-only} {
		margin-bottom: 25px;
		display: grid;
		grid-template-columns: 30px 1fr;
		column-gap: 15px;
	}

	@media #{$not-mobile} {
		margin-bottom: 25px;
		display: grid;
		grid-template-columns: 40px 1fr;
		column-gap: 20px;
		padding-left: 28px;
	}
}

.information__program-input {
	font-family: inherit;
	margin: 0;
	appearance: none;
	border: 1px solid #cdcdcd;

	@media #{$mobile-only} {
		width: 30px;
		height: 30px;
		border-radius: 20px;
	}

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
		border-radius: 30px;
	}
}

.information__program-input[type="radio"]:checked::before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-image: url("../../icons/stack.svg#tick-radio");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.information__input {
	color: #444444;
	font-family: var(--accent-font);
	border: 1px solid #e7e7e7;
	text-transform: uppercase;

	@media #{$mobile-only} {
		width: 228px;
		font-size: 16px;
		line-height: 18px;
		padding-top: 14px;
		padding-bottom: 13px;
		padding-left: 20px;
	}

	@media #{$tablet-only} {
		width: 570px;
		font-size: 20px;
		line-height: 30px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 20px;
	}

	@media #{$desktop-only} {
		width: 509px;
		font-size: 20px;
		line-height: 30px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 20px;
	}
}

.information__field-wrapper {
	display: grid;

	@media #{$mobile-only} {
		grid-template-columns: 94px 1fr;
		column-gap: 13px;
	}

	@media #{$tablet-only} {
		grid-template-columns: 117px 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 117px 1fr;
	}
}

.information__radio-wrapper {
	display: grid;
	position: relative;

	@media #{$mobile-only} {
		margin-top: 46px;
		margin-bottom: 45px;
	}

	@media #{$not-mobile} {
		border: 1px solid #e7e7e7;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 75px;
	}
}
