.information__wrapper {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.information__label {
	color: #444444;
}

.information__program-label {
	color: #222222;
}

.information__input {
	@media #{$mobile-only} {
		width: 228px;
	}

	@media #{$tablet-only} {
		width: 570px;
	}

	@media #{$desktop-only} {
		width: 509px;
	}
}

.information__field-wrapper {
	display: grid;

	@media #{$mobile-only} {
		grid-template-columns: 94px 1fr;
	}

	@media #{$tablet-only} {
		grid-template-columns: 117px 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 117px 1fr;
	}
}

.information__checkbox-wrapper {
	display: grid;
}
