.logo {
	text-decoration: none;

	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}

	&::after {
		content: "";
	}
}

.logo__text:hover {
--fill: purple;
}
