.main-hero {
	color: #ffffff;
	font-family: var(--accent-font);
	margin-bottom: 20px;

	@media #{$mobile-only} {
		position: relative;
	}

	@media #{$tablet-only} {
		margin-bottom: -2px;
	}

	@media #{$desktop-only} {
		--cat-position: left 0px;
		--cat-size: 1040px 694px;
		position: static;
		margin-bottom: 134px;
	}

	@include bg-image("herocat");

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 302px;
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat var(--cat-position, center) / var(--cat-size, contain),
			linear-gradient(
				to right,
				#54555a 50%,
				#434248 50%
			);
		z-index: -1;

		@media #{$tablet-only} {
			content: none;
		}

		@media #{$desktop-only} {
			height: 694px;
			top: 0;
			left: 50%;
			right: 0;
			z-index: -1;
		}
	}
}

.main-hero__container {
	display: grid;

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.main-hero__text {
	@media #{$mobile-only} {
		display: contents;
	}

	@media #{$not-mobile} {
		z-index: 1;
		display: grid;
		padding-inline: 88px;
	}

	@media #{$desktop-only} {
		place-self: start;
		padding-inline: 80px;
	}
}

.main-hero__heading {
	@media #{$mobile-only} {
		text-align: center;
	}

	@media #{$not-mobile} {
		// margin-block: 20px;
	}
}

.main-hero__slogan {
	margin-top: -4px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;

	@media #{$mobile-only} {
		text-align: center;
	}

	@media #{$not-mobile} {
		margin-block: 9px;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-top: -13px;
	}
}

.main-hero__link {
	display: block;
	padding: 11px 22px;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #68b738;

	@media #{$mobile-only} {
		order: 1;
	}

	@media #{$not-mobile} {
		z-index: 1;
		margin-top: 40px;
		margin-right: auto;
		font-size: 20px;
		line-height: 20px;
		padding: 17px 26px;
	}

	@media #{$desktop-only} {
		margin-top: 43px;
		font-size: 20px;
		line-height: 20px;
	}

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		background-color: #5eaa2f;
		color: rgba(255 255 255 / 0.3);
	}
}

.main-hero__image {
	display: block;
	margin: 29px auto 3px;

	@media #{$not-mobile} {
		margin-top: -83px;
	}

	@media #{$desktop-only} {
		margin-top: -30px;
		margin-left: -162px;
	}
}
