.main-hero {
	color: #ffffff;
	font-family: var(--accent-font);
	margin-bottom: 20px;

	@media #{$mobile-only} {
		position: relative;
	}

	@media #{$tablet-only} {
		padding-top: 2px;
		padding-left: 117px;
	}

	@media #{$desktop-only} {
		--cat-position: right 0px;
		position: static;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 302px;
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			url("../../img/main-hero-cat.png") no-repeat var(--cat-position, center) / contain,
			linear-gradient(
				to right,
				#54555a 50%,
				#434248 50%
			);
		z-index: -1;

		@media #{$tablet-only} {
			content: none;
		}

		@media #{$desktop-only} {
			height: 694px;
			top: 0;
			left: 50%;
			right: 0;
			z-index: -1;
		}
	}
}

.main-hero__container {
	display: grid;
}

.main-hero__text {
	@media #{$not-desktop} {
		display: contents;
	}
}

.main-hero__slogan {
	font-weight: 400;
	text-transform: uppercase;

	@media #{$mobile-only} {
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
		color: #000000;
	}
}

.main-hero__image {
	display: block;
	margin: 0 auto;

	@media #{$mobile-only} {
		grid-row: 3/4;
	}
}

.main-hero__link {
	font-family: var(--accent-font);
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: #68b738;

	@media #{$mobile-only} {
		display: block;
		font-size: 14px;
		line-height: 18px;
		padding: 7px 44px 7px 44px;
		margin-right: 20px;
		margin-left: 20px;
		grid-row: 4/5;
	}

	@media #{$tablet-only} {
		font-size: 20px;
		line-height: 20px;
		padding: 14px 26px 14px 26px;
		grid-row: 4/5;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 20px;
		padding: 14px 26px 14px 26px;
	}
}
