.main-header {
	color: #000000;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;

	@media #{$tablet-only} {
		display: flex;
	}

	@media #{$desktop-only} {
		display: flex;
	}
}
