.main-header {
	color: #000000;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2em;
		padding-block: 25px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr;
		padding-block: 53px;
	}
}

.main-header__logo {
	@media #{$not-mobile} {
		place-self: start;
	}
}
