.main-hero {
	color: #ffffff;
	font-family: var(--accent-font);
	position: relative;
}

.main-hero::before {
	@media #{$mobile-only} {
		content: "";
		position: absolute;
		width: 320px;
		height: 302px;
		background-color: rgb(104 183 56 / 0.85);
		z-index: -1;
	}
}

.main-hero__title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

.main-hero__slogan {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.main-hero__link {
	font-family: var(--accent-font);
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}
