.main-navigation {
	display: flex;
	justify-content: space-around;
}

.main-navigation__item::marker {
	color: transparent;
}

.main-navigation-link {
	font-family: var(--accent-font);
	color: #000000;
	text-decoration: none;
}

.main-navigation__toggle {
	@media #{$not-mobile} {
		display: none;
	}
}

.main-navigation__list {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		display: flex;
	}

	@media #{$mobile-only} {
		display: none;
	}
}

.main-navigation__item:not(:last-child) {
	@media #{$not-mobile} {
		padding-right: 33px;
	}
}
