.more-products {
	--icon-size: 30px;
	display: grid;
	grid-template-columns: 1fr;

	@media #{$not-mobile} {
		--icon-size: 60px;
		padding: 31px;
		gap: 20px;
	}

	&::after {
		content: "";
		display: block;
		order: -1;
		margin: 20px auto;
		width: var(--icon-size);
		height: var(--icon-size);
		background: #ffffff url("../../icons/stack.svg#plus") no-repeat center / contain;
	}

	@media #{$not-mobile} {
		border: 2px solid #f2f2f2;
		margin-top: 81px;
	}

	@media #{$tablet-only} {
		padding: 31px 38px 38px;
	}

	@media #{$desktop-only} {
		padding-right: 37px;
		padding-bottom: 38px;
		padding-left: 38px;
	}
}

.more-products__title {
	text-transform: uppercase;
	color: #111111;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-block: 4px 9px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 22px;
		margin-block: 8px 4px;
		padding-inline: 40px;
	}

	@media #{$desktop-only} {
		padding-inline: 0;
	}
}

.more-products__text {
	padding-bottom: 21px;
	font-family: var(--main-font);
	font-size: 12px;
	line-height: 16px;
	color: #444444;

	@media #{$not-mobile} {
		padding-block: 0;
		padding-inline: 32px;
		font-size: 16px;
		line-height: 18px;
	}

	@media #{$desktop-only} {
		padding-inline: 0;
	}
}

.more-products__button {
	font-family: var(--accent-font);
	color: #444444;
	text-decoration: none;
	background-color: #f2f2f2;
	display: block;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: #ebebeb;
	}

	&:active {
		background-color: #ebebeb;
		color: rgb(68 68 68 / 0.3);
	}

	&:disabled:hover {
		opacity: 0.3;
	}

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 94px 10px 94px;
	}

	@media #{$tablet-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 77px 10px 77px;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 38px 10px 38px;
	}
}
