.more-products {
	&::before {
		content: "";
		display: block;
		background-image: url("../../icons/stack.svg#plus");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-color: #ffffff;
	}

	@media #{$mobile-only} {
		&::before {
			width: 30px;
			height: 30px;
		}
	}

	@media #{$not-mobile} {
		border: 2px solid #f2f2f2;

		&::before {
			width: 60px;
			height: 60px;
		}
	}
}

.more-products__show-text {
	text-transform: uppercase;
	color: #111111;
	font-family: var(--accent-font);

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		padding-top: 27px;
		padding-bottom: 8px;
	}
}

.more-products__text {
	color: #444444;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		font-size: 12px;
		line-height: 16px;
		margin: 0;
		padding-bottom: 21px;
	}

	@media #{$tablet-only} {
		padding-bottom: 71px;
	}
}

.more-products__button {
	font-family: var(--accent-font);
	color: #444444;
	text-decoration: none;
	background-color: #f2f2f2;
	display: block;
	text-align: center;
	text-transform: uppercase;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 94px 10px 94px;
	}

	@media #{$tablet-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 79px 10px 79px;
		margin-bottom: 38px;
	}
}
