.more-products {
	position: relative;

	@media #{$mobile-only} {
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 30px;
			top: 0;
			left: 145px;
			height: 2px;
			background-color: #d3d3d3;
		}

		&::before {
			transform: rotate(90deg);
			box-shadow: none;
		}

		&::after {
			box-shadow: none;
		}
	}

	@media #{$tablet-only} {
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 60px;
			top: 0;
			left: 145px;
			height: 2px;
			background-color: #d3d3d3;
		}

		&::before {
			transform: rotate(90deg);
			box-shadow: none;
		}

		&::after {
			box-shadow: none;
		}
	}
}

.more-products__show-text {
	text-transform: uppercase;
	color: #111111;
	font-family: var(--accent-font);

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
	}
}

.more-products__text {
	color: #444444;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		font-size: 12px;
		line-height: 16px;
	}
}

.more-products__button {
	font-family: var(--accent-font);
	color: #444444;
	text-decoration: none;
	background-color: #f2f2f2;
	display: block;
	text-align: center;
	text-transform: uppercase;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 94px 10px 94px;
	}

	@media #{$tablet-only} {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 79px 10px 79px;
	}
}
