.options {
	color: #000000;
}

.options__list {
	display: grid;
	padding: 0;
	margin: 0;
	gap: 20px;

	@media #{$not-mobile} {
		gap: 30px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
	}
}

.options__item {
	background-color: #f2f2f2;

	@media #{$mobile-only} {
		padding-top: 41px;
		padding-right: 33px;
		padding-bottom: 37px;
		padding-left: 52px;
	}

	@media #{$tablet-only} {
		padding-top: 6px;
		padding-right: 33px;
		padding-bottom: 22px;
		padding-left: 20px;
	}

	@media #{$desktop-only} {
		padding-top: 41px;
		padding-bottom: 55px;
		padding-left: 52px;
	}
}

.options__item::marker {
	color: transparent;
}

.options__item-slim::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#options-cat-thin");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 50px;
		height: 53px;
	}

	@media #{$tablet-only} {
		width: 200px;
		height: 211px;
	}

	@media #{$desktop-only} {
		width: 100px;
		height: 106px;
	}
}

.options__item-pro::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#options-cat-powerful");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 67px;
		height: 53px;
	}

	@media #{$tablet-only} {
		width: 268px;
		height: 200px;
	}

	@media #{$desktop-only} {
		width: 134px;
		height: 100px;
	}
}

.options__text {
	color: #444444;
	font-family: var(--main-font);

	@media #{$mobile-only} {
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 24px;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 24px;
	}
}

.options__link {
	font-family: var(--accent-font);
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	position: relative;
}

.options__link::before {
	@media #{$mobile-only} {
		content: "";
		position: absolute;
		background-color: #d9d9d9;
		min-width: 240px;
		height: 1px;
		top: -15px;
	}
}

.options__link::after {
	@media #{$mobile-only} {
		content: "";
		display: block;
		width: 32px;
		height: 12px;
		background-image: url("../../icons/stack.svg#options-arrow");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
