.products {
	background-color: #ffffff;
	color: #000000;
}

.products__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	gap: 40px;

	@media #{$not-mobile} {
		gap: 60px;
	}

	@media #{$desktop-only} {
		gap: 80px;
	}
}

.products__item {
	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&::marker {
		color: transparent;
	}
}

.products__item:not(:last-child) {
	@media #{$tablet-only} {
		background: #f2f2f2;
	}

	@media #{$desktop-only} {
		background: #f2f2f2;
	}
}

.products__link {
	font-family: var(--accent-font);
	color: #222222;
	text-decoration: none;
}

.products__name {
	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		grid-column: 2/3;
	}
}

.products__button {
	display: block;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: var(--accent-font);
	background-color: #68b738;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		grid-column: 1/3;
	}

	@media #{$tablet-only} {
		grid-column: 1/3;
	}
}

.products__more-products {
	display: flex;
	flex-direction: column;
	text-align: center;
}
