.product-description {
	background-color: #ffffff;
	color: #000000;

	@media #{$mobile-only} {
		padding-bottom: 39px;
	}

	@media #{$tablet-only} {
		margin-bottom: 39px;
	}
}

.product-description::after {
	@media #{$tablet-only} {
		content: "";
		display: block;
		width: 768px;
		height: 1px;
		background: #e6e6e6;
	}
}

.product-description__list {
	display: grid;
	padding: 0;
	margin: 0;
	gap: 20px;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 37px;
		column-gap: 153px;
		padding-bottom: 104px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 94px;
	}
}

.product-description__item {
	color: #444444;
	font-family: var(--main-font);
	display: grid;

	@media #{$mobile-only} {
		grid-template-columns: 1fr 1fr;
	}
}

.product-description__item::marker {
	color: transparent;
}

.product-description__item--leaf::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#product-description-leaf");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 60px;
		height: 60px;
	}

	@media #{$not-mobile} {
		width: 80px;
		height: 80px;
	}
}

.product-description__item--leaf::after {
	@media #{$not-mobile} {
		content: "";
		display: block;
		background-image: url("../../icons/stack.svg#product-description-number-one");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 112px;
		height: 280px;
	}
}

.product-description__item--boiling-water::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#product-description-boiling-water");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 60px;
		height: 60px;
	}

	@media #{$not-mobile} {
		width: 80px;
		height: 80px;
	}
}

.product-description__item--boiling-water::after {
	@media #{$not-mobile} {
		content: "";
		display: block;
		background-image: url("../../icons/stack.svg#product-description-number-two");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 134px;
		height: 280px;
	}
}

.product-description__item--fork-spoon::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#product-description-fork-spoon");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 60px;
		height: 60px;
	}

	@media #{$not-mobile} {
		width: 80px;
		height: 80px;
	}
}

.product-description__item--fork-spoon::after {
	@media #{$not-mobile} {
		content: "";
		display: block;
		background-image: url("../../icons/stack.svg#product-description-number-three");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 134px;
		height: 280px;
	}
}

.product-description__item--clock::before {
	content: "";
	display: block;
	background-image: url("../../icons/stack.svg#product-description-clock");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media #{$mobile-only} {
		width: 60px;
		height: 60px;
	}

	@media #{$not-mobile} {
		width: 80px;
		height: 80px;
	}
}

.product-description__item--clock::after {
	@media #{$not-mobile} {
		content: "";
		display: block;
		background-image: url("../../icons/stack.svg#product-description-number-four");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 136px;
		height: 280px;
	}
}
