.product-card {
	background-color: #ffffff;
	color: #000000;
}

.product-card__title {
	font-size: 36px;
	line-height: 36px;
	font-family: var(--accent-font);
	font-weight: 400;
}

.product-card__item::marker {
	color: transparent;
}

.product-card__link {
	font-family: var(--accent-font);
	color: #222222;
	text-decoration: none;
}

.product-card__name {
	font-size: 16px;
	line-height: 20px;
}

.product-card__button {
	color: #ffffff;
	background-color: #68b738;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: var(--accent-font);
}
