.product-description {
	background-color: #ffffff;
	color: #000000;
}

.product-description__title {
	font-size: 36px;
	line-height: 40px;
	font-family: var(--accent-font);
	font-weight: 400;
}

.product-description__list {
	display: grid;
	padding: 0;
	margin: 0;
	gap: 20px;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 37px;
		column-gap: 153px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 94px;
	}
}

.product-description__item {
	color: #444444;
	font-family: var(--main-font);
}

.product-description__item::marker {
	color: transparent;
}
