.products {
	background-color: #ffffff;
	color: #000000;
}

.products__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	gap: 40px;

	@media #{$not-mobile} {
		gap: 60px;
	}

	@media #{$desktop-only} {
		gap: 80px;
	}
}

.products__item {
	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		--has-border: "";
		position: relative;
	}

	&::before {
		content: var(--has-border, none);
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 1px;
		background-color: #e6e6e6;
		box-shadow: 100vw 0 0 0 #e6e6e6;
	}

	@media #{$tablet-only} {
		display: grid;
	}

	&::marker {
		color: transparent;
	}
}

.products__item:not(:last-child) {
	@media #{$tablet-only} {
		background: #f2f2f2;
	}

	@media #{$desktop-only} {
		background: #f2f2f2;
	}
}

.products__link {
	font-family: var(--accent-font);
	color: #222222;
	text-decoration: none;
}

.products__link--text {
	@media #{$mobile-only} {
		grid-column: 2/3;
	}
}

.products__link--image {
	@media #{$mobile-only} {
		grid-column: 1/2;
		grid-row: 1/3;
		align-self: center;
		display: block;
		text-align: center;
	}
}

.products__name {
	text-transform: uppercase;
	font-weight: 400;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$tablet-only} {
		font-size: 20px;
		line-height: 24px;
	}
}

.products__button {
	display: block;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: var(--accent-font);
	background-color: #68b738;

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		grid-column: 1/3;
		padding: 10px 109px 10px 109px;
	}

	@media #{$tablet-only} {
		grid-column: 1/3;
		padding: 10px 93px 10px 93px;
	}

	@media #{$desktop-only} {
		padding: 10px 53px 10px 53px;
	}
}

.products__more-products {
	display: flex;
	flex-direction: column;
	text-align: center;
}
