.product-description {
	padding-bottom: 28px;
	color: #000000;

	@media #{$not-mobile} {
		padding-bottom: 19px;
	}

	@media #{$desktop-only} {
		padding-top: 26px;
	}
}

.product-description__title {
	margin-block: 18px;

	@media #{$not-mobile} {
		margin-block: 45px;
	}
}

.product-description__list {
	display: grid;
	padding: 22px 0;
	margin: 0;
	gap: 20px;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 77px;
		column-gap: 60px;
		padding: 27px 0;
		counter-reset: listCounter;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 80px;
	}
}

.product-description__item {
	color: #444444;
	font-family: var(--main-font);
	display: grid;
	gap: 20px;
	place-items: start;
	font-size: 14px;
	line-height: 18px;

	@media #{$mobile-only} {
		grid-template-columns: auto 1fr;
	}

	@media #{$not-mobile} {
		--icon-size: 80px;
		position: relative;
		grid-template-rows: auto 1fr;
		gap: 30px;
		min-height: 240px;
		font-size: 16px;
		line-height: 24px;
		counter-increment: listCounter;
	}

	@media #{$tablet-only} {
		padding-right: 78px;
	}

	&--leaf {
		--icon: url("../../icons/stack.svg#leaf");
	}

	&--boiling-water {
		--icon: url("../../icons/stack.svg#stewpot");
	}

	&--fork-spoon {
		--icon: url("../../icons/stack.svg#cutlery");
	}

	&--clock {
		--icon: url("../../icons/stack.svg#clock");
	}

	&::before {
		content: "";
		display: block;
		width: var(--icon-size, 60px);
		height: var(--icon-size, 60px);
		background: #68b738 var(--icon) no-repeat center / 32px;
		align-self: center;
	}

	&::after {
		position: absolute;
		z-index: -1;
		right: 0;
		font-family: var(--accent-font);
		font-size: 280px;
		line-height: 1;
		color: #f2f2f2;

		@media #{$not-mobile} {
			content: counter(listCounter);
			top: -40px;
			left: 115px;
		}
	}

	&::marker {
		color: transparent;
	}
}
