.questionary {
	background-color: #ffffff;
	color: #000000;
	font-family: var(--accent-font);
}

.questionary__title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

.questionary__text {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 400;
}

.form__group-information {
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
}

.information__label {
	color: #444444;
}

.information__program-label {
	color: #222222;
}

.form__group-contacts {
	padding: 0;
	border: none;
}

.contacts__title {
	font-size: 24px;
	line-height: 26px;
}

.contacts__label {
	color: #444444;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.comments__label {
	font-size: 24px;
	line-height: 26px;
}

.form__group-additional-goods {
	padding: 0;
	border: none;
}

.additional-goods__title {
	font-size: 24px;
	line-height: 26px;
}

.additional-goods__label {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.required-fields {
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 16px;
}
