.questionary {
	background-color: #ffffff;
	color: #000000;
	font-family: var(--accent-font);
}

.questionary__title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

.questionary__text {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 400;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}
