img {
	height: auto;
	max-width: 100%;
	object-fit: contain;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

footer {
	position: sticky;
	top: 100vh;
}

main {
	padding: 1em;
}

header,
footer {
	padding: 1em;
}
