<section class="address">
	<div class="address__text">
		<h2 class="visually-hidden">Адрес компании</h2>
		<b class="address__cooperation">Приглашаем к сотрудничеству дилеров!</b>
		<p class="address__text">ул. Большая
			Конюшенная, д. 19/8
			Санкт-Петербург</p>
		<div class="address__map">
			<iframe class="address__map-live" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533277!2d30.320858716096975!3d59.93871648187614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1671497506604!5m2!1sru!2sru" width="320" height="362" allowfullscreen title="Адрес компании ул. Большая Конюшенная, д. 19/8 Санкт-Петербург"></iframe>
			<noscript>
				{% include "./templates/picture.twig" with {name: "map", class: "address__map-static", alt: "Местонахождение организации на карте."} %}
			</noscript>
		</div>d
	</div>
</section>
