<footer class="main-footer">
	<div class="page__centerer">
		<div class="main-footer__wrapper">
			<div class="main-footer__logo-footer logo-footer">
				<a class="logo-footer__link" href="index.html">
					<svg class="logo-footer__text" width="128" height="24" role="img" aria-label="Логотип Cat Energy">
						<use href="./img/logo.svg#text-logo" aria-hidden="true" />
					</svg>
				</a>
			</div>
			<div class="main-footer__social social">
				<h3 class="visually-hidden">Соцсети</h3>
				<ul class="social__list">
					<li class="social__item">
						<a class="social__link social__link--icon-vk" href="https://vk.com/htmlacademy">
							<span class="visually-hidden">ВКонтакте</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--icon-youtube" href="https://www.youtube.come/user/htmlacademyru">
							<span class="visually-hidden">Youtube</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--icon-telegram" href="https://t.me/htmlacademy">
							<span class="visually-hidden">Телеграм</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="main-footer__logo-academy logo-academy">
				<a class="logo-academy__link" href="https://htmlacademy.ru/">
					<span class="page__hidden">Разработано в </span>HTML Academy
				</a>
			</div>
		</div>
	</div>
</footer>
