<footer class="main-footer">
	<div class="page__centerer">
		<div class="main-footer__wrapper">
			<div class="main-footer__logo-footer logo-footer">
				<a class="logo-footer__link" href="index.html">
					<svg class="logo-footer__text" width="101" height="18">
						<use href="./img/logo.svg#text-logo"></use>
					</svg>
				</a>
			</div>
			<div class="main-footer__social social">
				<h3 class="visually-hidden">Соцсети</h3>
				<ul class="social__list">
					<li class="social__item">
						<a class="social__link social__link--icon-vk" href="https://vk.com/htmlacademy">
							<span class="visually-hidden">ВКонтакте</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--icon-youtube" href="https://www.youtube.come/user/htmlacademyru">
							<span class="visually-hidden">Youtube</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--icon-telegram" href="https://t.me/htmlacademy">
							<span class="visually-hidden">Телеграм</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="main-footer__logo-academy logo-academy">
				<a class="logo-academy__link" href="https://htmlacademy.ru/">
					<img class="logo-academy__text" src="./icons/stack.svg#htmlacademy-text" width="113" height="19" alt="Лого HTML Academy.">
					<img class="logo-academy__icon" src="./icons/stack.svg#htmlacademy-logo" width="27" height="34" alt="Лого HTML Academy.">
				</a>
			</div>
		</div>
	</div>
</footer>
