<footer class="main-footer">
	<div class=" main-footer__wrapper">

		<div class="main-footer__logo">
			<a class="main-footer__logo-text" href="javascript:void(0)">
				<img src="img/logo-mobile-text.svg" width="128" height="24" alt="Лого Cat Energy.">
			</a>
		</div>
		<div class="main-footer__social social">
			<h3 class="visually-hidden">Соцсети</h3>
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link" href="https://vk.com/htmlacademy">
						<span class="visually-hidden">ВКонтакте</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="https://www.youtube.come/user/htmlacademyru">
						<span class="visually-hidden">Youtube</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="https://t.me/htmlacademy">
						<span class="visually-hidden">Телеграм</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="main-footer__logo-academy logo-academy">
			<ul class="logo-academy__list">
				<li class="logo-academy__item">
					<a class="logo-academy__link" href="https://htmlacademy.ru/">
						<h3 class="logo-academy__title">Html Academy</h3>
					</a>
				</li>
				<li class="logo-academy__item">
					<a class="logo-academy__link" href="https://htmlacademy.ru/">
						<span class="visually-hidden">HTML Academy</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
