<footer class="main-footer">
	<div class=" main-footer__wrapper">

		<div class="main-footer__logo">
			<a class="main-footer__logo-text" href="index.html">
				<img src="img/logo-mobile-text.svg" width="128" height="24" alt="Лого Cat Energy.">
			</a>
		</div>
		<div class="main-footer__social social">
			<h3 class="visually-hidden">Соцсети</h3>
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link social__link--icon-vk" href="https://vk.com/htmlacademy">
						<span class="visually-hidden">ВКонтакте</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--icon-youtube" href="https://www.youtube.come/user/htmlacademyru">
						<span class="visually-hidden">Youtube</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--icon-telegram" href="https://t.me/htmlacademy">
						<span class="visually-hidden">Телеграм</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="main-footer__logo-academy logo-academy">
			<a class="logo-academy__link" href="https://htmlacademy.ru/">Html Academy
				<img class="logo-academy__icon" src="icons/htmlacademy.svg" width="27" height="34" alt="Лого HTML Academy.">
			</a>
		</div>
	</div>
</footer>
