<header class="main-header page__centerer">
	<a class="main-header__logo logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif %}>
		<svg class="logo__image" width="34" height="38">
			<use href="./img/logo.svg#picture-logo"></use>
		</svg>
		<svg class="logo__text" width="101" height="18">
			<use href="./img/logo.svg#text-logo"></use>
		</svg>
	</a>
	<nav class="main-navigation">
		<button class="main-navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-navigation__list">
			{% for page in pages %}
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="{{page.path}}" {% if permalink==page.path %}aria-current="page" {% endif %}>
					{{page.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
