<header class="main-header page__centerer">
	<a class="main-header__logo logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
		<picture>
			<source media="(min-width: 1280px)" srcset="./img/logo.svg#mark-desktop" width="71" height="59">
			<source media="(min-width: 768px)" srcset="./img/logo.svg#mark-tablet" width="61" height="52">
			<img class="logo__image" src="./img/logo.svg#mark-mobile" width="34" height="38" alt="Лого Cat Energy">
		</picture>
		<svg class="logo__text" width="101" height="18">
			<use href="./img/logo.svg#text-logo"></use>
		</svg>
	</a>
	<nav class="main-navigation main-navigation--nojs {% if permalink == "index.html" %}main-navigation--text-inherit{% endif %}">
		<button class="main-navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-navigation__list">
			{% for page in pages %}
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="{{page.path}}" {% if permalink == page.path %}aria-current="page" {% endif %}>
					{{page.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
