<header class="main-header page__centerer">
	<a class="main-header__logo logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif %}>
		<img class="logo__image" src="img/logo-mobile.svg" width="34" height="38" alt="Лого Cat Energy.">
		<img class="logo__text" src="img/logo-mobile-text.svg" width="101" height="18" alt="Лого Cat Energy.">
	</a>
	<nav class="main-navigation">
		<button class="main-navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-navigation__list">
			{% for page in pages %}
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="{{page.path}}" {% if permalink==page.path %}aria-current="page" {% endif %}>
					{{page.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
