<header class="main-header">
	<nav class="main-navigation">
		<a class="main-header__logo" href="index.html">
			<img class="main-header__logo-img" src="img/logo-mobile.svg" width="34" height="38" alt="Лого Cat Energy.">
		</a>
		<a class="main-header__logo" href="index.html">
			<img class="main-header__logo-text" src="img/logo-mobile-text.svg" width="101" height="18" alt="Лого Cat Energy.">
		</a>
		<button class="main-navigation__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
		<ul class="main-navigation__list">
			<li class="main-navigation__item main-navigation__item--current">
				<a class="main-navigation-link" href="javascript:void(0)">
					Главная
				</a>
			</li>

			<li class=" main-navigation__item">
				<a class="main-navigation-link" href="javascript:void(0)">
					Каталог продукции
				</a>
			</li>

			<li class="main-navigation__item">
				<a class="main-navigation-link" href="javascript:void(0)">
					Подбор программы
				</a>
			</li>

		</ul>
	</nav>
</header>
