{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
	<h1 class="heading heading--lvl_1 page__centerer">Каталог продукции</h1>
	<section class="products page__centerer">
		<h2 class="visually-hidden">Основные товары</h2>
		<ul class="products__list">
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy PRO 500 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "chicken500", class: "products__image", alt: "коробочка 500 грамм со вкусом курицы."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">500 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Курица</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">700 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy PRO 1000 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "chicken1000", class: "products__image", alt: "коробочка 1000 грамм со вкусом курицы."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">1000 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Курица</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">1000 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy PRO 500 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "fish500", class: "products__image", alt: "коробочка 500 грамм со вкусом рыбы."} %}
				</a>

				<div class="products_goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">500 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Рыба</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">700 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy PRO 1000 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "fish1000", class: "products__image", alt: "коробочка 1000 грамм со вкусом рыбы."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">1000 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Рыба</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">1000 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy slim 500 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "buckwheat500", class: "products__image", alt: "коробочка 500 грамм со вкусом гречки."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">500 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Гречка</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">400 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy slim 1000 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "buckwheat1000", class: "products__image", alt: "коробочка 1000 грамм со вкусом гречки."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">1000 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Гречка</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">700 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>
			<li class="products__item">

				<a class="products__link products__link--text" href="javascript:void(0)">
					<h3 class="products__name">Cat Energy slim 500 г</h3>
				</a>
				<a class="products__link products__link--image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "rice500", class: "products__image", alt: "коробочка 500 грамм со вкусом риса."} %}
				</a>

				<div class="products__goods-characteristics goods-characteristics">
					<dl class="goods-characteristics__list">
						<dt class="goods-characteristics__name">Масса</dt>
						<dd class="goods-characteristics__value">500 г</dd>
						<dt class="goods-characteristics__name">Вкус</dt>
						<dd class="goods-characteristics__value">Рис</dd>
						<dt class="goods-characteristics__name">Цена</dt>
						<dd class="goods-characteristics__value">500 ₽</dd>
					</dl>
				</div>
				<a class="products__button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="products__item products__more-products more-products">
				<h3 class="visually-hidden">Посмотреть все товары</h3>
				<p class="more-products__show-text">Показать еще 100500 товаров</p>
				<p class="more-products__text">На самом деле вкусов гораздо больше!</p>
				<a class="more-products__button" href="javascript:void(0)">Показать все</a>
			</li>
		</ul>
	</section>

	<section class="additional-products page__centerer">

		<h2 class="additional-products__title">Дополнительные товары</h2>

		<div class="additional-products__wrapper">
			<ul class="additional-products__list">
				<li class="additional-products__item">
					<a class="additional-products__link" href="javascript:void(0)">
						<h3 class="additional-products__name">Сахарозаменитель</h3>
					</a>
					<div class="additional-products__characteristics characteristics">
						<dl class="characteristics__list">
							<dt class="characteristics__quantity">1 упаковка (100 г)</dt>
							<dd class="characteristics__price">200 ₽</dd>
						</dl>
					</div>
					<a class="additional-products__button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="additional-products__item">
					<a class="additional-products__link" href="javascript:void(0)">
						<h3 class="additional-products__name">Питьевая вода</h3>
					</a>
					<div class="additional-products__characteristics characteristics">
						<dl class="characteristics__list">
							<dt class="characteristics__quantity">5 литров</dt>
							<dd class="characteristics__price">50 ₽</dd>
						</dl>
					</div>
					<a class="additional-products__button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="additional-products__item">
					<a class="additional-products__link" href="javascript:void(0)">
						<h3 class="additional-products__name">Молоко</h3>
					</a>

					<div class="additional-products__characteristics characteristics">
						<dl class="characteristics__list">
							<dt class="characteristics__quantity">1 литр</dt>
							<dd class="characteristics__price">100 ₽</dd>
						</dl>
					</div>
					<a class="additional-products__button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="additional-products__item">
					<a class="additional-products__link" href="javascript:void(0)">
						<h3 class="additional-products__name">Витамины</h3>
					</a>

					<div class="additional-products__characteristics characteristics">
						<dl class="characteristics__list">
							<dt class="characteristics__quantity">1 упаковка (30 г)</dt>
							<dd class="characteristics__price">300 ₽</dd>
						</dl>
					</div>
					<a class="additional-products__button" href="javascript:void(0)">Заказать</a>
				</li>
			</ul>

			<div class="gifts">
				<h2 class="visually-hidden">Подарок при заказе</h2>
				<p class="gifts-text">Закажите все <span class="gifts-text__space"></span>и получите чехол для<span class="gifts-text__space"></span>кота в подарок!</p>

			</div>

		</div>
	</section>

	{% include "./templates/address.twig" %}
</main>
{% endblock %}
