{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<section class="main-hero">
		<h1 class="main-hero__title">Функциональное питание для котов</h1>
		<p class="main-hero__slogan">Занялся собой? Займись котом!</p>
		<a class="main-hero__link" href="form.html">Подобрать программу</a>
		<img class="main-hero__image" src="img/main-hero__img.svg" width="280" height="270" alt="Упаковка продукции со вкусом курицы.">
	</section>

	<section class="options">
		<ul class="options__list">
			<li class="options__item">
				<h3 class="options__title">Похудение</h3>
				<p class="options__text">Ваш кот весит больше собаки и почти утратил способность <br>
					лазить по деревьям? Пора на диету! Cat Energy Slim поможет <br>
					вашему питомцу сбросить лишний вес.</p>
				<a class="options__link" href="javascript:void(0)">Каталог slim</a>
			</li>
			<li class="options__item">
				<h3 class="options__title">Набор массы</h3>
				<p class="options__text">Заработать авторитет среди <br>
					дворовых котов и даже собак?
					<br>Серия Cat Energy Pro поможет <br>
					вашему коту нарастить <br>
					необходимые мышцы!
				</p>
				<a class="options__link" href="javascript:void(0)">Каталог pro</a>
			</li>
		</ul>
	</section>

	<section class="product-description">
		<h2 class="product-description__title">Как это работает</h2>
		<ul class="product-description__list">
			<li class="product-description__item">
				<p>Функциональное питание <br>
					содержит только полезные <br>
					питательные вещества.</p>
			</li>
			<li class="product-description__item">
				<p>Выпускается в виде порошка, <br>
					который нужно лишь залить <br>
					кипятком и готово.</p>
			</li>
			<li class="product-description__item">
				<p>Замените один-два приема <br>
					обычной еды на наше <br>
					функциональное питание.</p>
			</li>
			<li class="product-description__item">
				<p>Уже через месяц <br>
					наслаждайтесь изменениями <br>
					к лучшему вашего питомца!</p>
			</li>
		</ul>
	</section>

	<section class="before-after">
		<h2 class="before-after__title">Живой пример</h2>
		<p class="before-after_description">Борис сбросил 5 кг за 2 месяца, просто <br>
			заменив свой обычный корм на Cat Energy <br>
			Slim. Отличный результат без изнуряющих <br>
			тренировок! При этом он не менял своих <br>
			привычек и по-прежнему спит по 16 часов <br>
			в день. </p>
		<dl class="before-after__example-list">
			<div class="before-after__example-item">
				<dt class="before-after__example-name">Снижение веса</dt>
				<dd class="before-after__example-value">5 кг</dd>
			</div>
			<div class="before-after__example-item">
				<dt class="before-after__example-name">Затрачено времени</dt>
				<dd class="before-after__example-value">60 дней</dd>
			</div>
			<div class="before-after__example-item">
				<dt class="before-after__example-text">Затраты на питание</dt>
				<dd class="before-after__example-value">15 тысяч</dd>
			</div>
		</dl>

		<div class="before-after__cat-slayder">
			<!--слайдер с котиком-->
		</div>

	</section>

	<section class="address">
		<h2 class="visually hidden">Адрес компании</h2>
		<b class="address__cooperation">Приглашаем к сотрудничеству дилеров!</b>
		<p class="address__text">ул. Большая <br>
			Конюшенная, д. 19/8 <br>
			Санкт-Петербург</p>
		<div>
			<noscript>
				<img class="address__image-map" src="img/map.png" width="320" height="362" alt="Местонахождение организации на карте.">
			</noscript>
		</div>
	</section>

</main>
{% endblock %}
