{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<section class="main-hero">
		<div class="page__centerer main-hero__container">
			<div class="main-hero__text">
				<h1 class="main-hero__heading heading heading--lvl_1">Функциональное питание для котов</h1>
				<div class="main-hero__slogan">Занялся собой? Займись котом!</div>
				<a class="main-hero__link" href="form.html">Подобрать программу</a>
			</div>

			{% include "./templates/picture.twig" with {name: "feed", class: "main-hero__image", alt: "Упаковка продукции со вкусом курицы."} %}

		</div>
	</section>

	<section class="options page__centerer">
		<ul class="options__list">
			<li class="options__item options__item--has_icon options__item--icon_slim">
				<h3 class=" options__title options__title--slim heading heading--lvl_3">Похудение</h3>
				<p class="options__text">Ваш кот весит больше собаки и почти утратил способность
					лазить по деревьям? Пора на диету! Cat Energy Slim поможет
					вашему питомцу сбросить лишний вес.</p>
				<a class="options__link options__link--has-icon options__link--icon-arrow" href="javascript:void(0)">Каталог slim</a>
			</li>
			<li class="options__item options__item--has_icon options__item--icon_pro">
				<h3 class="options__title options__title--pro heading heading--lvl_3">Набор массы</h3>
				<p class="options__text">Заработать авторитет среди
					дворовых котов и даже собак?
					Серия Cat Energy Pro поможет
					вашему коту нарастить
					необходимые мышцы!
				</p>
				<a class="options__link options__link--has-icon options__link--icon-arrow" href="javascript:void(0)">Каталог pro</a>
			</li>
		</ul>
	</section>

	<section class="product-description page__centerer">
		<h2 class="product-description__title heading heading--lvl_2">Как это работает</h2>
		<ul class="product-description__list">
			<li class="product-description__item product-description__item--leaf">
				<div>Функциональное питание содержит только полезные питательные вещества.</div>
			</li>
			<li class="product-description__item product-description__item--boiling-water">
				<div>Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</div>
			</li>
			<li class="product-description__item product-description__item--fork-spoon">
				<div>Замените один-два приема обычной еды на наше функциональное питание.</div>
			</li>
			<li class="product-description__item product-description__item--clock">
				<div>Уже через месяц наслаждайтесь изменениями к лучшему <span class="line-feed"></span>вашего питомца!</div>
			</li>
		</ul>
	</section>

	<section class="before-after">
		<div class="page__centerer before-after__container">
			<div>
				<h2 class="before-after__title heading heading--lvl_2">Живой пример</h2>
				<div class="before-after__description">
					Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
				</div>
				<dl class="before-after__example-list">
					<div class="before-after__example-item cartouche">
						<dt class="before-after__example-name cartouche__name">Снижение веса</dt>
						<dd class="before-after__example-value cartouche__value">5 кг</dd>
					</div>
					<div class="before-after__example-item cartouche">
						<dt class="before-after__example-name cartouche__name">Затрачено времени</dt>
						<dd class="before-after__example-value cartouche__value">60 дней</dd>
					</div>
					<div class="before-after__example-item before-after__example-item--wide">
						<dt class="before-after__example-name">Затраты на питание</dt>
						<dd class="before-after__example-value">15 000 руб.</dd>
					</div>
				</dl>
			</div>

			<figure class="before-after__compare compare">
				<figcaption class="compare__description page__hidden">Кот Борис до и после 2 месяцев питания кормом Cat Energy Slim.</figcaption>
				<div class="compare__wrapper slider" style="--curtain-place: 0.5;">
					{% include "./templates/picture.twig" with {name: "fatcat", class: "compare__image slider__image slider__image--state_before", alt: "Раньше у кота Бориса было ожирение."} %}
					{# <div class="slider__before">
					</div> #}
					<div class="slider__curtain">
						<button class="slider__thumb" type="button">
							<span class="page__hidden">Ползунок слайдера</span>
						</button>
					</div>
					{% include "./templates/picture.twig" with {name: "thincat", class: "compare__image slider__image slider__image--state_after", alt: "Теперь кот Борис стройняшка."} %}
					{# <div class="slider__after">
					</div> #}
				</div>
			</figure>
		</div>
	</section>

	{% include "./templates/address.twig" %}

</main>
{% endblock %}
